[databases]
;; [config cluster: begin]
mydb = host={{ hostvars[inventory_hostname]['ansible_host'] }} port={{ patroni_primary_port }} dbname=postgres auth_user=postgres pool_mode=session  pool_size=10
;; [config cluster: end]
[pgbouncer]
listen_addr = *
listen_port = 6432
auth_type = md5
auth_file= /etc/pgbouncer/userlist.txt
admin_users=postgres